/* css reset */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

/* css common for all pages */

.wrapper {

}

html, body {
	height: 100%;
}

header {
	background-image: url('../images/header_background.png');

	width: 100%;

	height: 130px;
}

header a {
	float: left;
	padding: 10px;
}

.title {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#heading {
	float: left;
}

h1 {
	font-size: 36px;
	padding-left: 15px;
	padding-top: 30px;
	color: #4D4E4E;
}

h2 {
	font-size: 24px;
	padding-left: 15px;
	color: #4D4D4D;
}

nav {
	width: 100%;
	height: 59px;
	display: block;
	background-color: #4D4D4D;
	border-bottom: 5px solid #3FA9F5;
	box-shadow-top: 0px -5px;
	margin: 0 auto;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: block;
	float: left;
	padding: 15px 24px 15px 24px;
}

nav ul li a {
	text-decoration: none;
	color: #BBBDC0;
	font-size: 24px;
}

nav ul li:hover {
	color: #4D4D4D;
	background-color: #3FA9F5;
}

#content {
	width: 100%;
	margin: 0px;
}

article {
	background-color: #4D4D4D 50%;
}

body {
	background-image: url('../images/background.png');
}

.main {
	float: left;
	margin: 1.5625%;

	color: #E6E7E8;
	background-color: rgba(88,88,91,0.9);
	padding: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #3FA9F5;

	width: 80%;
}

.main h3{
	font-size: 30px;
}

.main p {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 18px;
	padding: 5px 0px;
}

.main img {
	opacity: 1.0;
}

.link {
	color: #3FA9F5;
}

aside {
	float: right;
	width: 8%;
	margin-top: 1.5625%;
	margin-right: 1.5625%;
	margin-bottom: 1.5625%;
}

aside ul {
	list-style-type: none;
}

.push {
	clear: both;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #4D4D4D;
	border-top: 5px solid #3FA9F5;
}

footer p {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #BBBDC0;
	font-size: 18px;
	padding: 18px;
}

footer p a {
	text-decoration: none;
	color: #BBBDC0;
}