/* css reset */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

/* css common for all pages */
header {
	position: relative;
	background-color: #C69C6D;
	height: 80px;
	padding: 25px;
	box-shadow-bottom: 0px -5px;
}

header a {
	position: absolute;
	top: 10px;
	left: 10px;
}

.heading {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
	padding-left: 15%;
	float: left;
	width: 100%;
}

h2 {
	font-size: 1.5em;
	padding-left: 15%;
	float: left;
	width: 100%;
}

nav {
	position: relative;
}

nav ul {
	position: absolute;
	top: 10px;
	left: 10px;

	list-style-type: none;
	background-color: #4D4D4D;
	border: 2px solid #3FA9F5;
}

p {
	float: left;
}