/* control projects specific layout */
.main {
	
}

#projects_nav {
	border: none;
}

#projects_nav ul li a {
	background-color: #3FA9F5;
	color: #4D4D4D;
	border: 5px solid #8CC641;
	margin: 10px 10px;
}

#projects_nav ul li a:hover {
	color: #8CC641;
	background-color: #4D4D4D;
	border: 5px solid #3FA9F5;
}