/* control projects specific layout */
.main {
	
}

#resume {
	position: relative;
	background-color: white;
	color: black;
}

#resume_aside {
	position: absolute;
	left: 0px;
	top: 0px;
}

#resume_main {
	position: absolute;
	left: 175px;
	top: 0px;
}