/* CSS for fixed position columns */

#sect {
	position: relative;
	height: 325px;
}

#sect1 {
	position: absolute;
	width: 50%;
	top: 0px;
	left: 0px;
}

#sect2 {
	position: absolute;
	width: 50%;
	top: 0px;
	right: 0px;
}