/* CSS reset */
* {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

/* CSS common for all pages */
p{
	padding: 6px;
}

header {
	background-image:url('../images/flowers.jpg');
	padding: 0px 6px;
	color: white;
}

nav {
	background-color: black;
	float: left;
	width: 100%;
	margin: 0px;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	padding: 5px 15px;
	display: inline;
}

a {
	text-decoration: none;
	color: white;
}

li:hover {
	background-color: white;
}

a:hover {
	color: black !important;
}

h1 {
	font-size: 36px;
	font-family: 'Lucida Calligraphy', cursive;	
}

h2 {
	font-size: 18px;
	font-family: 'Lucida Calligraphy', cursive;
}

#quote {
	font-style: italic;
}