/* CSS reset */
* {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

/* CSS common for all pages */
p{
	padding: 6px;
}

header {
	background-image:url('../images/gradient.png');
	padding: 0px 6px;
}

nav {
	padding: 6px 0px;
	background-color: gray;
}

h1 {
	font-size: 36px;
	font-family: 'Lucida Calligraphy', cursive;	
}

h2 {
	font-size: 18px;
	font-family: 'Lucida Calligraphy', cursive;
}

#quote {
	font-style: italic;
}