/* css reset */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

/* css common for all pages */

.wrapper {
	background-color: white;
	position: relative;
	min-height: 100%;
}

html, body {
	height: 100%;
}

body {
	background-color: #4D4D4D;
	min-height: 100%;
}

header {
	width: 100%;
}

header a {
	float: left;
}

.title {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#heading {
	float: left;
}

h1 {
	color: #4D4E4E;
}

h2 {
	color: #4D4D4D;
}

nav {
	width: 100%;
	display: block;
	background-color: #4D4D4D;
	border-bottom: 5px solid #3FA9F5;
	float: none;
}

nav ul {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: #BBBDC0;
}

nav ul li a:hover {
	color: #4D4D4D;
	background-color: #3FA9F5;
}

#content {
	width: 100%;
	margin: 0px;
}

.main p {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.main img {
	opacity: 1.0;
}

.link {
	color: #3FA9F5;
}

aside ul {
	list-style-type: none;
}

.push {
	clear: both;
}

footer {
	width: 100%;
	background-color: #4D4D4D;
}

footer p {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #BBBDC0;
}

footer p a {
	text-decoration: none;
	color: #BBBDC0;
}

td {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}

#warning {
	width: 100%;
	height: 208px;
	text-align: center;
	padding-bottom: 50px;
}

#warning img {
	float: left;
}

#warning p {
	text-align: left;
	padding-left: 220px;
	padding-top: 7.75%;
}