.wrapper {
	background-color: #BBBDC0;
}
header {
	background-color: #8CC641;
	height: 65px;
}

#logo {
	display: block;
	width: 65px;
	height: 50px;
	background-image: url("../images/phone/logo_phone.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

h1 {
	font-size: 22px;
	padding-left: 15px;
	padding-top: 10px;
}

h2 {
	font-size: 12px;
	padding-left: 15px;
}

nav {
	height: 125px;
}

nav ul li {
	padding: 1px 8px;
}

nav ul li a {
	font-size: 18px;
}

.main {
	margin: 1.5% auto;
	
	padding: 15px;
	color: black;

	width: 90%;
}

.main h3{
	font-size: 22px;
}

.main p {
	font-size: 18px;
	padding: 5px 0px;
}

aside {
	height: 80px;
	padding: 1.5%;
	width: 100%;
	margin: 0 auto;
}

footer {
	height: 40px;
	border-top: 5px solid #3FA9F5;
}

footer p {
	font-size: 16px;
	padding: 1.5%;
}

td {
	padding-right: 5px;
	padding-bottom: 5px;
}