/* control projects specific layout for smaller devices */
#projects_nav {
	height: 115px;
}

#projects_nav ul {
	text-align: left;
}

h4 {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-style: italic;
	padding: 8px 0px 1px 0px; 
}

h5 {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 22px;
	padding: 5px 0px 5px 0px;
}

section img {
	display: block;
	text-align: center;
}

.horiz {
	width: 95%;
}