/* control projects specific layout */
#projects_nav {
	border: none;
	background-color: rgba(88,88,91,0);
	margin: 0px auto 10px auto;
}

#projects_nav ul li {
	padding: 0;
	margin: 20px 10px;
	display: inline-block;
}

#projects_nav ul li a {
	background-color: #3FA9F5;
	color: #4D4D4D;
	border: 5px solid #8CC641;
	padding: 10px;
	margin: 20px 0px;
}

#projects_nav ul li a:hover {
	color: #8CC641;
	background-color: #4D4D4D;
	border: 5px solid #3FA9F5;
}

.main ul {
	float: none;
	list-style-type: none;
}

.main ul li {
	display: inline;
	padding: 5px;
}

.main ul li img {
	height: 250px;
	width: 250px;
}

.main img {
	margin: 5px auto;
	border: 5px solid #4D4D4D;
}

.shirt {
	display: block;
	text-align: center;
}

.shirt img {
	display: inline;
}