.wrapper {
	background-image: url('../images/background.png');
}

header {
	background-color: #8CC641;
	height: 90px;
}

#logo {
	display: block;
	width: 122px;
	height: 90px;
	background-image: url("../images/tablet/logo_tablet.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

h1 {
	font-size: 30px;
	padding-left: 15px;
	padding-top: 20px;
}

h2 {
	font-size: 18px;
	padding-left: 15px;
}

h4 {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-style: italic;
	padding: 8px 0px 1px 0px;
}

h5 {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 5px 0px 5px 0px;
}

nav {
	height: 42px;
}

nav ul li {
	display: inline-block;
	float: none;
	padding: 0;
	margin: 10px 0px auto;
}

nav ul li a {
	font-size: 18px;
	padding: 10px 8px 10px 8px;
}

.main {
	margin: 1.5% auto;
	color: #E6E7E8;
	background-color: rgba(88,88,91,0.9);
	padding: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #3FA9F5;

	width: 90%;
}

.main h3{
	font-size: 22px;
}

.main p {
	font-size: 18px;
	padding: 5px 0px;
}

aside {
	height: 80px;
	width: 100%;
	margin: 0 auto;
}

aside a span {
	display: none;
}

aside h6 {
	display: none;
}

.soc {
	
	float: left;
	height: 90px;
	width: 90px;
	background-repeat: no-repeat;
	background-position: 2.5px 0;
}

.twitter {
	background-image: url('../images/desktop/twitter-logo.png');
}

.google_plus {
	background-image: url('../images/desktop/google+_logo.png');
}

.linkedin {
	background-image: url('../images/desktop/linkedin.png');
}

.tumblr {
	background-image: url('../images/desktop/tumblr.png');
}

.google_code {
	display: block;
	background-image: url('../images/desktop/google_code.png');
}

.bitbucket {
	background-image: url('../images/desktop/bitbucket.png');
}

.github {
	background-image: url('../images/desktop/github.png');
}

footer {
	height: 40px;
	border-top: 5px solid #3FA9F5;
}

footer p {
	font-size: 16px;
	padding: 1.5%;
}

td {
	padding-right: 5px;
	padding-bottom: 5px;
}

#resume {
	display: none;
}